---
---

@import "{{ site.theme }}";

/*
body {
  background: yellow !important;
}
*/

.page-links {
  display: flex;
  flex-direction: column; /* default vertical */
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 960px) {
  
  #site-logo {
    display: none !important;
  }

  .page-links {
    width: 100%;         /* takes full horizontal space */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  /* push links all the way right */
    flex-wrap: wrap;
    gap: 1rem;
  }

  .page-links a {
    white-space: nowrap;
  }
  
}
